@using Medicoz.ViewModels
@model PlanViewModel
<section class="pricing-section">
        <div class="auto-container">
            <div class="tabs-box outer-box">
                <!--Tabs Box-->
                <ul class="tab-buttons clearfix">
                <li class="tab-btn active-btn" data-filter=".filter-Monthly">Monthly</li>
                    <li class="tab-btn" data-tab="#tab2">Yearly</li>
                </ul>

                <div class="tabs-content">
                    <!--Tab-->
                    <div class="tab active-tab" id="tab1">
                        <div class="row">
                            <!-- Pricing Block -->
                            

                            <!-- Pricing Block -->
                            @foreach (var item in Model.Plans)
                        {
                            <div class="pricing-block col-lg-3 col-md-6 col-sm-12 filter-@item.Planperiod" >
                                <div class="inner-box" >
                                    <div class="price-box">
                                        <h4 class="price">$@item.Price</h4>
                                        <div class="validaty">@item.Planperiod</div>
                                    </div>
                                    <h3 class="title">@item.PlanCategory.Name</h3>
                                    <ul class="features">
                                        <li>@item.Feature1</li>
                                        <li>@item.Feature2</li>
                                        <li>@item.Feature3</li>
                                        <li>@item.Feature4</li>
                                    </ul>
                                    <div class="btn-box">
                                        <a href="#" class="theme-btn">Get Offer</a>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>

                    <!--Tab-->
                    <div class="tab" id="tab2">
                        <div class="row">
                            <!-- Pricing Block -->
                            <div class="pricing-block col-lg-3 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="price-box">
                                        <h4 class="price">$999</h4>
                                        <div class="validaty">Per Month</div>
                                    </div>
                                    <h3 class="title">Cardiology</h3>
                                    <ul class="features">
                                        <li>Functional Diagnotics</li>
                                        <li>Allergens Drugs</li>
                                        <li>Pollen Allergens</li>
                                        <li>Food Allergens</li>
                                    </ul>
                                    <div class="btn-box">
                                        <a href="#" class="theme-btn">Get Offer</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Pricing Block -->
                            <div class="pricing-block col-lg-3 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="price-box">
                                        <h4 class="price">$520</h4>
                                        <div class="validaty">Per Month</div>
                                    </div>
                                    <h3 class="title">Detal Care</h3>
                                    <ul class="features">
                                        <li>Tooth implantation</li>
                                        <li>Lase Dentistry</li>
                                        <li>Tests and Treatment</li>
                                        <li>Medical Consultation</li>
                                    </ul>
                                    <div class="btn-box">
                                        <a href="#" class="theme-btn">Get Offer</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Pricing Block -->
                            <div class="pricing-block col-lg-3 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="price-box">
                                        <h4 class="price">$450</h4>
                                        <div class="validaty">Per Month</div>
                                    </div>
                                    <h3 class="title">Body Checkup</h3>
                                    <ul class="features">
                                        <li>Tests and Treatment</li>
                                        <li>Tests and Treatment</li>
                                        <li>Laboratory Services</li>
                                        <li>Food Allergens</li>
                                    </ul>
                                    <div class="btn-box">
                                        <a href="#" class="theme-btn">Get Offer</a>
                                    </div>
                                </div>
                            </div>

                            <!-- Pricing Block -->
                            <div class="pricing-block col-lg-3 col-md-6 col-sm-12">
                                <div class="inner-box">
                                    <div class="price-box">
                                        <h4 class="price">$669</h4>
                                        <div class="validaty">Per Month</div>
                                    </div>
                                    <h3 class="title">Blood Test</h3>
                                    <ul class="features">
                                        <li>Blood Test Service</li>
                                        <li>Safety Training Tips</li>
                                        <li>Tests and Treatment</li>
                                        <li>Food Allergens</li>
                                    </ul>
                                    <div class="btn-box">
                                        <a href="#" class="theme-btn">Get Offer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="sec-bottom-text">Don’t hesitate, contact us for better help and services <a href="#">Explore all Dr. Team</a></div>
        </div>
    </section>
    <!--End Pricing Section -->